*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
hr{
  height: 10px;
  margin : 40px 0;
  background-color: rgb(82, 85, 85);
}
tr, th, td {
  border: 1px solid black;
  padding: 8px;
}

input{
  border: none;
  width: 100%;
  height: 30px;
  padding: 5px;
}

.grid-centre{
  display:grid;
  place-items: center;
}
.clr-red{
  color :red
}
.flex{
  display: flex;
  &.centre{
    align-items: center;
    justify-content: center;
  }
}



.post{
  width: 800px;
 margin: auto;
 margin-top: 40px;
}
.post-btn  {
  width: 100px;
  margin:10px;
  background-color:green;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
}
.post-btn:hover{
  background-color:lightblue;
  color: white;
}
.dlt-btn{
  width: 150px;
  margin:40px;
  background-color:rgb(217, 33, 16);
  border-radius: 5px;
  border: none;
  color: white;
  padding: 8px 16px;
  cursor: pointer;

}
.prdct-btn{
  width: 150px;
  margin:10px;
  background-color:green;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
}

